<div class="container">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Question: </span>
    </div>
    <textarea id="question-text-area" class="form-control" aria-label="With textarea"></textarea>
  </div>
  <ul *ngFor="let answer of answers">
    <li class="input-group mb-3">
      <div class="input-group-prepend">
          <input type="text" [(ngModel)]="answer.content" class="form-control" aria-label="Text input with checkbox">
          <div class="input-group-text">
            <input type="checkbox"
              [checked]="answer.isCorrect"
              (change)="answer.isCorrect = !answer.isCorrect"
              aria-label="Checkbox for following text input">
          </div>
      </div>
    </li>
  </ul>
  <button (click)="onClick()" class="btn btn-primary" type="submit">
    <i class="fas fa-plus section-icon"></i>
  </button>
</div>
