<div id="sidebar" #sidebar>
  <ul>
    <li (click)="sidebar.className= sidebar.className == 'active' ? '' : 'active' ">
      <h3 id="sidebar-title">MENU</h3>
      <i class="fas fa-align-left sidebar-toggle"></i></li>
    <li routerLink="/" routerLinkActive="link-active" onclick="this.blur();" [routerLinkActiveOptions]="{ exact: true }" ><a ><i class="fas fa-home section-icon"></i></a>
      <div class="sidebar-header">HOME</div>
    </li>
    <li routerLink="/room/create" routerLinkActive="link-active" onclick="this.blur();"><a><i class="fas fa-dice section-icon"></i></a>
      <div class="sidebar-header">HOST ROOM</div>
    </li>
    <li routerLink="/add-quiz" 
      routerLinkActive="link-active"
      onclick="this.blur();">
      <a>
        <i class="fas fa-plus section-icon"></i>
      </a>
      <div class="sidebar-header">ADD QUIZ</div>
    </li>
    <li routerLink="/rooms" routerLinkActive="link-active" onclick="this.blur();"><a><i class="fas fa-dice section-icon"></i></a>
      <div class="sidebar-header">JOIN ROOM</div>
    </li>
  </ul>
</div>
