<div class="container">
  <div class="d-flex flex-column flex-md-row login bg-gunmetal">

    <!--LOGIN FORM-->
    <form #login id="login-container" class="d-flex flex-column align-items-center justify-content-center position-relative"
          [formGroup]="loginForm"
          (ngSubmit)="loginUser()"
          >
      <h4 class="text-white pl-4 pr-4 sign-in-title">Sign into your account</h4>

      <!-- Username input -->
      <div class="w-100 login-inputs">
        <input formControlName="email" class="form-input" id="inputLogin"
               aria-describedby="emailHelp" typ="email"
               placeholder="E-mail" autocomplete="email"
               [ngClass]="!email.valid && email.touched ? 'is-invalid' : ''">
        <!-- Error messages -->
        <div class="position-relative">
          <small class="text-danger error"
                 *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
            Username must be specified.
          </small>
        </div>
        <div style="margin: 25px"></div>
        <!-- Password input-->
        <input formControlName="password" type="password" class="form-input" id="InputPassword" placeholder="Password"
               autocomplete="password" [ngClass]="!password.valid && password.touched ? 'is-invalid' : ''">
        <!-- Error messages -->
        <div class="position-relative">
          <small class="text-danger error"
                 *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
            You need to provide password.
          </small>
        </div>
      </div>

      <!-- Submit button -->
      <input type="submit" class="login-button bg-main mt-3" [class.hvr-pop]="loginForm.valid" [class.invalid-form]="!loginForm.valid"
             [disabled]="!loginForm.valid" value="Sign in!">
    </form>
  </div>
</div>
