<div class="container">
  <div class="jumbotron pt-4 mt-4" [@enterAnimation]>
    <div class="display-4 text-center">User details</div>
    <div class="lead text-center">Here are all details about your user account.</div>
    <hr class="my-4">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-dark-grey"><strong> Username: </strong>
          <p class="d-block text-black-50">{{userDetails?.nameid}}</p></li>
      </ul>
    </div>
  </div>
</div>
