<div (mousedown)="isBtnPressed = true"
  (mouseup)="isBtnPressed = false"
  class="flex-nowrap">
  <div id="selective-area">
        <div class="text">
            <span [ngStyle]="{
                'left.px': word.boundingBox[0],
                'top.px': word.boundingBox[1],
                'width.px': word.boundingBox[2] - word.boundingBox[0],
                'height.px': word.boundingBox[5] - word.boundingBox[1],
                'border': '1px black solid',
                'position': 'absolute',
                'display': 'block'
                }"
                  [ngClass]="word.isSelected ? 'selection': ''"
                  (mousemove)="mouseEnter(word)"
                *ngFor="let word of allWords">
              </span>
        </div>
    <img (dragstart)="false" src="https://www.photoshopessentials.com/images/type/text-inside-text/new/photoshop-text-inside-text.gif">
  </div>

</div>
