#selective-area {
  position: relative;
  display: inline-block;
}

.text {
  position: absolute;
  z-index: 10;
}

.selection {
  background: #e83e8c;
  opacity: 0.65;
}

.inputfile-2 + label {
  color: #d3394c;
  border: 2px solid currentColor;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

img{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
