.login{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.book-image {
  background: url("../../../assets/idea-lamp.jpg") no-repeat center;
  background-size: cover;
  filter: url(#monochrome);
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 0;
}
h4{
  height: 20px;
}

.sign-up-title {
  z-index: 1;
  position: absolute;
  top: 220px;
  color: #fcff35;
  text-align:center;
}

.sign-in-title{
  position:absolute;
  top: 30px;
}

.container {
  max-width: 900px;
  padding: 50px 40px;
}

.sign-up-form {
  flex-basis: 55%;
  height: 400px;
}

#login-container {
  flex-grow: 1;
  height: 400px;
}

.login-button {
  position: absolute;
  bottom: 50px;
  border-radius: 50px;
  outline: 0;
  border: 0;
  padding: 12px;
  width: 200px;
  color: white;
  background: linear-gradient(to bottom right, rgb(33, 163, 214) 0%, rgb(48, 95, 128) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.sign-up {
  position: absolute;
  border-radius: 50px;
  padding: 12px;
  outline: 0;
  background: transparent;
  border: 1px solid #fcff35;
  color: #fcff35;
  z-index: 2;
  bottom: 50px;
}

.sign-up:hover {
  transition-property: color, background;
  transition-duration: 0.5s;
  background: #fcff35;
  color: black;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #233237 inset;
  -webkit-text-fill-color: #fcff35;
}

.error {
  position: absolute;
}

.login-inputs{
  padding: 0 30px 50px 30px;
}

.invalid-form{
  background: linear-gradient(to bottom right, rgb(133, 135, 135) 0%, rgb(77, 77, 82) 80%);
}

@media  screen and (max-width: 768px) {
  .sign-up-form{
    order:1;
  }

  #login-container{
    order: 0;
  }
  .container {
    max-width: 100%;
    padding: 0;
  }
}
@media  screen and (max-width: 992px) {
  .sign-up-form{
    flex-basis: 45%;
  }

}


/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

button:focus{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
