/* You can add global styles to this file, and also import other style files */
@import "css/errors/errors.css";
@import "css/controls/default-control.css";
@import "css/colors.css";

html {
  font-family: Palanquin, serif !important;
  height: 100%;
}

body {
  height: 100%;
}

a{
  text-decoration: none;
  color: #119ca3;
}

a:hover{
  color: #2d6d89;
}

.font-palanquin {
  font-family: Palanquin, serif;
}

.font-palanquin-dark {
  font-family: "Palanquin Dark", serif;
}
